<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="mojbox">
    <%= f.label :name, "Ime" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :prof_array, "Profesori na predmetu:" %><br />
    <%= f.text_field :prof_array, "data-pre" => @course.professors.to_json(:methods => [:name]) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
